.App {
  text-align: center;
}
.frame {
  border: solid;
  margin: auto;
  max-width: 1000px;
}
.game {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: dashed thin brown;
  width: 600px;
  height: 100%;
}
.pixel {
  width: 20px;
  height: 20px;
  background-color: lightblue;
}
.food {
  width: 20px;
  height: 20px;
  background-color: green;
}
.body {
  width: 20px;
  height: 20px;
  background-color: red;
}

.head {
  width: 20px;
  height: 20px;
  background-color: greenyellow;
}
.body2 {
  width: 20px;
  height: 20px;
  background-color: greenyellow;
}

.head2 {
  width: 20px;
  height: 20px;
  background-color: red;
}
.multi-game_options {
  display: flex;
  justify-content: center;
}

.multi-game_options > div {
  margin: 10px;
}
.Copy_code_from_friend {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: blueviolet;
  color: aliceblue;
  cursor: pointer;
}
.Copy_code_from_friend:hover {
  background-color: aliceblue;
  color: blueviolet;
}
.icon {
  background-color: blueviolet;
  color: aliceblue;
  cursor: pointer;
}
.icon:hover {
  background-color: aliceblue;
  color: blueviolet;
}
.currentPlayer {
  background-color: yellow;
}
