.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.frame {
  /* border: solid; */
  margin: auto;
  max-width: 1000px;
  padding: 15px;
  padding-bottom: 50px;
}
.game {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: dashed thin brown;
  width: 600px;
  height: 100%;
}
.pixel {
  width: 20px;
  height: 20px;
  background-color: lightblue;
}
.food {
  width: 20px;
  height: 20px;
  background-color: green;
}
.body {
  width: 20px;
  height: 20px;
  background-color: red;
}

.head {
  width: 20px;
  height: 20px;
  background-color: greenyellow;
}
.body2 {
  width: 20px;
  height: 20px;
  background-color: greenyellow;
}

.head2 {
  width: 20px;
  height: 20px;
  background-color: red;
}
.multi-game_options {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.multi-game_options div {
  margin: 10px;
}

.currentPlayer {
  background-color: yellow;
}

.playerList {
  background-color: aliceblue;
  color: blueviolet;
}
.playerList:hover {
  background-color: blueviolet;
  color: aliceblue;
}

.instruction_selection .Links {
  margin-right: 10px;
}
ul {
  list-style-type: square;
}
.how_to_play {
  text-align: left;
}
.Links,
button {
  background-color: lightblue;
  color: blueviolet;
  text-decoration: none;
  padding: 5px;
  border-radius: 25px;
  margin-top: 10px;
  font-weight: bold;
}
.Links:hover,
button:hover {
  background-color: blueviolet;
  color: white;
}
